@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Italic.ttf") format("truetype");
    font-style: italic;
}


@font-face {
    font-family: "roboto";
    src: url("fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: bold;
}

:root {
    --clr-primary: #1c2a42;
    --clr-secondary: #e2a900;
    --clr-secondary-800: #b18503;
    --clr-light: rgb(231, 231, 231);
    --clr-dark: #0e1520;

    --mar1: 0.5rem;
    --mar2: calc(2 * var(--mar1));
    --mar3: calc(4 * var(--mar1));
    --mar4: calc(6 * var(--mar1));

    --pad1: 0.5rem;
    --pad2: calc(2 * var(--pad1));
    --pad3: calc(4 * var(--pad1));
    --pad4: calc(6 * var(--pad1));    
}
body {
    font-family: "roboto";
    color: var(--clr-dark);
    margin: 0px;
    background: linear-gradient(to left, #141e30, #243b55);
}

a {
    text-decoration: none;
    color: black;
}

.container {
    background-color: var(--clr-light);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.underline {
    padding: 0 var(--pad1);
    border-bottom: 2px solid var(--clr-secondary);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.rounded {
    border-radius: 50%;
}

h2 {
    color: var(--clr-secondary-800);
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;

    margin-bottom: var(--mar4);
    padding: var(--pad2) var(--pad4);


    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background-color: var(--clr-light);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 75rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: var(--pad2);

    list-style: none;
}

nav ul a {
    padding: var(--pad2);
    background-color: var(--clr-secondary);
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 3px 0px var(--clr-secondary-800);

    transition: all .2s ease;
}

nav ul a:active {
    background-color: var(--clr-secondary-800);
    color: var(--clr-light);
    box-shadow: none;
}

header img {
    height: 4rem;
    width: 7rem;
}

main {
    display: flex;
    gap: var(--mar4);
    justify-content: space-around;

    max-width: 75rem;
    margin: var(--mar2) auto;
}

.sidebar {
    width: 17.5rem;
    min-width: 17.5rem;
    height: max-content;
    position: sticky;
    top: 9rem;
    z-index: 999;
}

.sidebar h2 {
    text-align: center;
    padding: var(--pad1);
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    margin-top: var(--mar2);
    text-transform: capitalize;
}

.sidebar .buy-list {
    display: flex;
    flex-direction: column;
}

.sidebar .buy-list .product {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.sidebar .buy-list .product .product-actions {
    display: flex;
    align-items: center;
    gap: calc(var(--pad1) / 2)
}


.sidebar .buy-list .product .product-actions img {
    width: 1.875rem;
    height: 1.875rem;

    transition: all 0.5s ease-in-out;
}

.sidebar p {
    padding: 0 var(--pad2);
}

.sidebar form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--pad1);
}

.card-template {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.card-template .card {
    max-width: 16.875rem;
    height: fit-content;
    text-transform: capitalize;
    transition: all 0.2s ease-in-out;
} 

.purchases {
    padding: 1rem;
}

.purchases table tr td {
    padding: 0.5rem;
    border: 1px solid var(--clr-primary)
}

.purchases table {
    margin-top: 0.5rem;
}

.card .admin_options {
    display: flex;
    justify-content: right;
    padding: var(--pad1) var(--pad1) 0 0;
}

.card .admin_options svg{
    width: 1.875rem;
    height: 1.875rem;
}

.card .picture{
    height: 12.5rem;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-image: radial-gradient(rgba(0,0,0,0.5) 0%, rgb(231, 231, 231) 65%);
}

.card .picture img{
    max-width: 10rem;
    width: 80%;
    height: 80%;
}

.card .details{
    padding: var(--pad1);
    background-color: var(--clr-secondary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    border-top: 4px solid var(--clr-secondary-800);
    border-radius: 0 0 5px 5px;
    font-weight: bold;
    color: var(--clr-dark);
}

.card .details .price {
    background-color: var(--clr-dark);
    padding: 0.4rem;
    border-radius: 5px;
    color: var(--clr-light);
    font-weight: bold;
}

.card .details span {
    overflow: hidden;
}

.card-template .product {
    transition: all .2s ease-in-out;
}

.card-template .card:hover {
    transform: scale(1.05)
}

.admin_links {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: var(--pad2)
}

.admin_links a {
    padding: var(--pad1) 0;

}

.admin_stock{
    height: 130px;
}

.balance_low {
    margin-top: 100px;
    margin-left: 420px;
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.balance_low img {
    height: 500px;
    width: 500px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    margin: var(--mar2);
}

.admin-form .value-edits {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--pad2) 0;
    width: 100%;
}

.admin-form .value-edits .values {
    padding-left: var(--pad1);
}

.admin-form .field {
    margin: var(--mar1) 0;
}

.stock-categories {
    width: 50%;
    height: fit-content;

    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    padding: var(--pad1);
}

.stock-categories a {
    padding: var(--pad2);
    text-align: center;
}

input[type="submit"] {
    margin: var(--mar1) 0;
    background-color: var(--clr-secondary);
    width: 35%;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    padding: calc(var(--pad2) * 0.75);
    box-shadow: 0px 3px 0px var(--clr-secondary-800);
    cursor: pointer;

    transition: all .2s ease;
}

input[type="submit"]:active {
    background-color: var(--clr-secondary-800);
    color: var(--clr-light);
    box-shadow: none;
}

input[type="number"] {
    padding: calc(var(--pad2) * 0.5);
    width: 3rem;
    border: none;
    border-radius: 4px;
}

input[type="password"] {
    margin: var(--mar1) 0;
    padding: calc(var(--pad2) * 0.5);
    border: none;
    width: calc(100% - var(--pad2));
    border-radius: 4px;
}

input[type="text"] {
    padding: calc(var(--pad2) * 0.5);
    border: none;
    width: calc(100% - var(--pad2));
    border-radius: 4px;
}

input[type=file]::file-selector-button {
    padding: var(--pad1);
    border-radius: 0.25rem;
    border: none;
    background-color: var(--clr-secondary);
    color: var(--clr-dark);
    font-weight: 700;
}

input[type=hidden] {
    display: none;
}

select {
    padding: var(--pad1);
    width: 100%;
    border: none;
    background-color: white;
}

input[name=search-self] {
    width: 300px;
    height: 25px;
    margin: var(--mar1);
}

.hide {
    display: None;
}

.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: var(--pad2);
    text-transform: capitalize;
}

.slider .picture img {
    max-height: 10rem;
    max-width: 10rem;
}

.slider .userdetail {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.slider .productdetail {
    margin: 0;
    padding: 0;
}