:root {
    --main-yellow: #FFE600;
    --orange-yellow: #FFBF00;
    --sponsor-count: 7;
}

/* General utilities */
html {
    scroll-behavior: smooth;
}

.centered {
    max-width: 1600px;
    margin: 0 auto;
}

.outline-text {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

html, body {
    margin: 0;
    font-family: 'Roboto';
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1em;
}

/* Header styles */
.bookmark {
    width: 135px;
    height: 200px;

    background: #FFFFFF;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25), inset 0px -15px 0px #201D00;
}

.bookmark > svg {
    height: 80%;
    width: auto;
    display: block;
    margin: .8em auto ;
}

.navigation {
    display: flex;
}

.navigation > nav {
    font-size: 1.2em;
    text-decoration: none;
    padding-left: 8em;
    display: flex;
    align-items: center;
    gap: 4em;
}

nav a {
    color: dimgray;
    font-weight: 500;
    text-decoration: none;
}

a.current {
    color: var(--orange-yellow);
    border-bottom: 2px solid var(--orange-yellow);
}

#penguinbox {
    z-index: -1;
    display: flex;
    position: absolute;
    right:0;
    top:0;
    height: 800px;
    width: 800px;
    background: url(../img/penguins.jpeg);
    background-size: cover;
    background-position: 25%;
    border-radius: 0px 0px 0px 750px;
}

/* Wij zijn Tuks megatext */
.mega-tuks-text {
    margin: 2rem 0;
    padding-left: 3rem;
    font-family: 'Russo One';
    font-size: 15em;
    width: 70%;
    
    color: var(--main-yellow);
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    gap: 4em;
}

h1.mainpage-header {
    margin: 0 auto;
    letter-spacing: .2rem;
    width: fit-content;
    font-family: 'Russo One';
    font-size: 3em;
    color: var(--main-yellow);
    border-bottom: 2px solid black;
}

.boldtext {
    font-family: 'Roboto';
    margin: 1em auto;
    color: dimgray;
    font-size: 1.2em;
    width: 50%;
    text-align: center;
}

/* Styling of the sponsors slider */
/* With help from https://codepen.io/studiojvla/pen/qVbQqW */

/* // Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-310px * var(--sponsor-count)))}
}

/* // Styling */
.slider {
    max-width: 100%;
    margin: 1em auto;
	background: white;
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	overflow:hidden;
	position: relative;
	width: 960px;
}

.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}
	
.slide-track {
    animation: scroll 45s linear infinite;
    display: flex;
    height: 100%;
}

.slide, .slide-img {
    margin: auto;
    max-height: 80px;
    width: 250px;
}

.slide {
    margin-right: 60px;
}


/* Styling of the calendar */
.event-list {
    max-width: 960px;
    min-width: 800px;
    min-height: 600px;
    padding: 0 1em;
    margin: 1em auto;
    display: flex;
}

.event-list.smol {
    display: none;
}


@media (max-width:1600px) {
    #penguinbox {
        opacity: 0.75;
    }
    
    .mega-tuks-text {
        font-size: 12em;
        width: 80%;
    }

    .navigation nav {
        display: none;
    }    
}

@media (max-width: 1200px) {
    #penguinbox {
        opacity: 0.5;
    }
    .mega-tuks-text {
        font-size: 10em;
        width: 90%;
    }
}

@media (max-width: 950px) {
    .event-list.big {
        display: none;
    }
    .event-list.smol {
        display: flex;
        min-width: 100%;
    }
    .bookmark {
        display: none;
    }
    .mega-tuks-text {
        font-size: 8em;
        width: 100%;
    }
}