{% extends "layout.html" %}

{% block body %}
    {% if form %}
        <form method="{{ method }}" action="{{ action }}" enctype="multipart/form-data">
            {% for field in form %}
                {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                    <label>
                        {%- if field.type != 'SubmitField' and field.type != 'BooleanField' -%}
                            {{field.label.text}}
                        {%- endif -%}

                        {% if field.type == 'RadioField' %}
                            {% for subfield in field %}
                                <label>
                                    {{ subfield }} {{subfield.label.text}}
                                </label>
                            {% endfor %}
                        {% else %}
                            {{ field() }}   
                        {% endif %}

                        {%- if field.type == 'BooleanField' -%}
                            {{" "}}{{field.label.text}}
                        {%- endif -%}
                    </label>

                    {%- for err in field.errors -%}
                        <p>{{ err|e }}</p>
                    {%- endfor -%}
                    {% if field.description %}
                        <div>{{field.description}}</div>
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% for field in form -%}
                {% if field.type == 'CSRFTokenField' and method != 'get' %}
                    {{ field() }}
                {% endif %}
            {% endfor %}

            <div class="buttons">
                {% for field in form -%}
                    {% if field.type == 'SubmitField' %}
                        {{ field() }}
                    {% endif %}
                {% endfor -%}
            </div>
        </form>

    {% elif event %}
        <section>
            <h1>{{event.title}}</h1>
            <p>{{event.date | dutch_day}} {{event.date.day}} {{ event.date | dutch_month }}</p>
            <p>{{event.time | time}}</p>
            <p>{{event.description}}</p>
        </section>

    {% else %}
        <ul>
            <li><a href="{{url_for('add_event')}}">Add New Event</a></li>
            {% for event in events %}
                <li>
                    <a href="{{url_for('event', event_id=event.id)}}">{{event.title}}</a>
                    <a href="{{url_for('edit_event', event_id=event.id)}}"><button>Edit</button></a>
                    <form onsubmit="return confirm('Do you really want to delete this event?');" method="POST" action="{{ url_for('delete_event', event_id=event.id)}}">
                        <button>Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}