{% extends "layout.html" %}


{% block signup_button %}

{% endblock %}

{% block mega_tuks_text %}
    <div class="mega-tuks-text outline-text ">Wij zijn S.V. Tuks</div>
{% endblock %}

{% block body %}
    <!-- Over ons -->
    <section>
        <h1 class="mainpage-header outline-text ">Over ons</h1>
        <p class="boldtext">De studievereniging van de Associate Degree Software Development. Wij zorgen voor supertoffe en leerzame activiteiten voor en door onze leden, en slaan een brug met het bedrijfsleven door middel van activiteiten met onze sponsoren.</p>
    </section>

    <!-- Sponsoren -->
    <section id="#sponsoren"> 
        <h1 class="mainpage-header outline-text">Sponsoren</h1>
        <div class="slider">
            <div class="slide-track">
                <!-- Almexx -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/almexx-logo.png"/>
                </div>             

                <!-- Movelab -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/movelab-logo.png">  
                </div>

                <!-- Innovadis -->
                <div class="slide">
                    <img
                        style="cursor:pointer" onclick="window.open('http://innovadis.com', '_blank')"
                        class="slide-img" 
                        src="../static/img/innovadis-logo.png">
                </div>
                
                <!-- Wirelab -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/wirelab_blue.png"/>
                </div>

                <!-- Akyla -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/akyla-logo.png">
                </div>

                <!-- Moneybird -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/moneybird-logo.png">
                </div>

                <!-- Patchman -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/Patchman_logo.png">
                </div>

                <!-- Duplicate images for rotating effect -->
                <!-- Almexx -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/almexx-logo.png"/>
                </div>             

                <!-- Movelab -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/movelab-logo.png">  
                </div>

                <!-- Innovadis -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/innovadis-logo.png">
                </div>
                
                <!-- Wirelab -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/wirelab_blue.png"/>
                </div>

                <!-- Akyla -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/akyla-logo.png">
                </div>

                <!-- Moneybird -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/moneybird-logo.png">
                </div>

                <!-- Patchman -->
                <div class="slide">
                    <img class="slide-img" src="../static/img/Patchman_logo.png">
                </div>
            </div>
        </div>
    </section>

    <!-- Agenda -->
    <!-- <section id="agenda">
        <h1 class="mainpage-header outline-text ">Agenda</h1>
        <iframe 
            class="event-list big" 
            src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FBrussels&showCalendars=0&showTabs=0&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=0&src=NW83cmlzZGppbm1naG5jZnBlajNzY3B1ZDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60" 
            style="border-width:0" 
            
            frameborder="0" 
            scrolling="no">
        </iframe>
        <iframe class="event-list smol" src="https://calendar.google.com/calendar/embed?height=600&wkst=2&bgcolor=%23ffffff&ctz=Europe%2FBrussels&showCalendars=0&showTabs=0&showPrint=0&showDate=0&showNav=0&showTitle=0&showTz=0&mode=AGENDA&src=NW83cmlzZGppbm1naG5jZnBlajNzY3B1ZDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23D81B60" style="border-width:0" width="400" height="600" frameborder="0" scrolling="no"></iframe> -->
{% endblock %}