<!DOCTYPE html>

<html lang="en">
    <head>
        <title>S.V. Tuks | {{ current_page | capitalize }}</title>
        <meta name="viewport" content="width=device-width, intial-scale=1">
        <link rel= "stylesheet" type= "text/css" href="{{ url_for('static',filename='css/main.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Russo+One&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="penguinbox">
        </div>
        <header class="centered">
            <div>
                <div class="navigation">
                    <div class="bookmark">
                        <svg
                            version="1.1"
                            id="svg55"
                            viewBox="0 0 235 354">
                            <defs
                                id="defs59">
                                <rect
                                x="-482.14737"
                                y="-39.120255"
                                width="309.40662"
                                height="326.03998"
                                id="rect54040" />
                                <rect
                                x="-404.1568"
                                y="71.610069"
                                width="318.00961"
                                height="294.7962"
                                id="rect50832" />
                                <rect
                                x="156.73134"
                                y="165.99159"
                                width="587.0083"
                                height="187.42458"
                                id="rect40708" />
                                <rect
                                x="155.28682"
                                y="247.02579"
                                width="310.15015"
                                height="114.77481"
                                id="rect4062" />
                                <rect
                                x="167.18086"
                                y="227.4258"
                                width="122.41078"
                                height="57.45435"
                                id="rect4754" />
                                <rect
                                x="156.73134"
                                y="165.99159"
                                width="587.0083"
                                height="187.42458"
                                id="rect40708-7" />
                            </defs>
                            <g
                                id="g61"
                                transform="translate(-51.316652,-19.690225)">
                                <g
                                id="g1560"
                                transform="matrix(1.9442836,0,0,1.9442836,-58.426956,-335.87579)">
                                <path
                                    style="fill:#030303"
                                    d="m 127.25798,223.85951 c -2.12332,-3.03146 -1.95421,-6.37999 0.44329,-8.77749 2.7179,-2.7179 5.7754,-2.59928 6.18045,0.23978 0.18614,1.30465 1.15458,2.38896 2.31955,2.59707 3.11597,0.55664 3.79139,1.74709 2.44294,4.30579 -1.65428,3.139 -2.83715,3.82383 -6.63623,3.84205 -2.17783,0.0104 -3.68833,-0.69145 -4.75,-2.2072 z"
                                    id="path467" />
                                <path
                                    style="fill:#030303"
                                    d="m 81.946643,353.3578 c 2.560043,-7.42719 2.925277,-9.70031 2.456677,-15.28976 C 83.612686,328.63736 80.996863,322.69462 70.820248,307.20941 60.42827,291.39649 57.742564,285.7415 56.986874,278.08202 l -0.542635,-5.5 3.024619,4.09791 c 3.426798,4.64281 8.146731,8.62453 19.870254,16.76247 9.571572,6.64415 14.806378,12.13831 17.643116,18.51722 l 2.055611,4.6224 0.884474,-3 c 0.486457,-1.65 1.142627,-7.5 1.458157,-13 0.7972,-13.89608 -1.548306,-20.48064 -12.835131,-36.03222 -11.519381,-15.872 -14.544938,-20.94416 -16.981134,-28.46778 -2.868391,-8.85835 -2.902698,-23.3176 -0.07289,-30.72077 5.253072,-13.74278 18.727283,-22.44268 34.821835,-22.48344 16.22468,-0.0411 31.43778,7.81884 41.87328,21.63405 2.71464,3.59381 10.24101,11.09459 16.72527,16.6684 6.48426,5.5738 11.78957,10.33446 11.78957,10.57925 0,0.24478 -1.97113,0.14947 -4.38029,-0.21181 -5.89831,-0.88451 -17.98551,1.09584 -24.11971,3.95172 -5.90734,2.75027 -10.66044,7.23276 -14.83354,13.98905 -2.59095,4.19476 -3.13898,4.62991 -3.77821,3 -2.46008,-6.27278 0.70317,-14.22829 9.15861,-23.03376 5.56211,-5.79237 5.95314,-6.51102 5.95314,-10.94097 0,-4.2034 -0.43867,-5.15869 -3.86607,-8.4191 -6.82438,-6.49188 -17.91905,-7.78067 -25.68147,-2.98324 -2.58935,1.60031 -4.4866,3.98252 -6.27746,7.88205 -2.22807,4.85154 -2.55996,6.90738 -2.51652,15.58857 0.0461,9.21638 0.44549,11.2214 5.0966,25.58659 7.32782,22.63232 8.73624,30.03235 8.64337,45.41341 -0.0672,11.12958 -0.44746,14.1199 -2.64296,20.78368 -4.89095,14.84507 -14.7242,26.5515 -29.634377,35.27958 -4.168612,2.44021 -7.872593,4.43674 -8.231071,4.43674 -0.358478,0 0.701421,-3.9259 2.355331,-8.72422 z"
                                    id="path191" />
                                <path
                                    style="fill:#ebd02c"
                                    d="m 79.255961,364.17051 c -0.309841,-0.50134 2.301529,-2.51365 5.803042,-4.4718 24.572547,-13.74176 35.642267,-32.11465 35.642267,-59.15701 0,-11.78643 -2.41104,-24.10244 -8.47313,-43.28211 -2.48978,-7.87733 -4.51662,-14.85233 -4.5041,-15.5 0.0318,-1.64325 2.53067,3.84047 4.47602,9.82243 0.89431,2.75 2.23834,5.94387 2.98674,7.0975 2.50685,3.86418 6.78161,14.82308 9.12866,23.4025 4.90747,17.93883 2.22217,42.2807 -6.27792,56.9083 -5.10093,8.77809 -17.27356,17.95564 -31.462409,23.72109 -6.646044,2.70053 -6.562249,2.68382 -7.31917,1.4591 z"
                                    id="path195" />
                                </g>
                            </g>
                            </svg>
                    </div>
                    <nav> 
                        <a class="current" href="#">Home</a>
                        <!-- <a href="#agenda">Agenda</a> -->
                        <a href="#sponsoren">Sponsoren</a>
                        <a href="mailto:info@tuks.dev">Contact</a>
                    </nav>
                </div>
                {% block mega_tuks_text %}{% endblock %}
            </div>
            
        </header>

        <main class="centered">
            {% block body %}{% endblock %}
        </main>
    </body>


</html>