{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="container">
    <form class="admin-form" action="" method="POST" enctype="multipart/form-data">
        <h2>Product</h2>

        {% for field in form %}
        <div class="field">
            {% if field.type == "BooleanField" %}
                {{ field.label }}
            {% endif %}
            {{ field }}
        </div>
        {% endfor %}
        
    </form>
</section>
{% endblock %}