{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'drinks') }}">Drinks</a>
        </li>
    
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'snacks') }}">Snacks</a>
        </li>
    
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}
        
        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
    <section class="admin_links container">
        <h2>USERS</h2>
        <a class="underline" href="{{ url_for('stuks_bp.balances') }}">Check / edit user balances</a>
        <a class="underline" href="{{ url_for('stuks_bp.add_user') }}">Add a user</a>
        <a href="{{ url_for('stuks_bp.edit_users') }}">Edit a user</a>
    </section>

    <section class="admin_links container">
        <h2>PRODUCTS</h2>
        <a class="underline" href="{{ url_for('stuks_bp.stock') }}">Check / edit stock</a>
        <a class="underline" href="{{ url_for('stuks_bp.add_product') }}">Add a product</a>
        <a href="{{ url_for('stuks_bp.restore_product') }}">Restore a product</a>
    </section>  
{% endblock %}