{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="container">
    <form class="admin-form" action="" method="POST">
        <h2>Edit balances</h2>

        {% for user in users %}
        <div class="value-edits underline">
            <span class="info bold">{{ user.firstname }} {{ user.lastname }}</span>
            <div class="values">
                <span>Balance: &euro;{{ user.balance }} &rarr;</span>
                <input type="number" id="{{user.id}}" name="{{user.id}}" value="0">
            </div>
        </div>
        {% endfor %}

        <input type="submit" value="Submit">
    </form>
</section>
{% endblock %}