{% extends "stuks_bp/layout.html" %}
{% block main %}

    <div class="balance_low">
        <h1>Your balance is {{ "€ %.2f"|format(user.balance / 100) }}!</h1>
        <h3>If you want to upgrade your balance, please make a payment on bunq.me/tuks</h3>
        <img src="static/img/qr-code.png">
    </div>  
{% endblock %}