{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="card-template">
    {% for user in users %}
    <article class="card container">
        <a href="{{ url_for('stuks_bp.edit_user', user_id = user.id) }}">
            <div class="picture">
                <img class="rounded" src="static/img/user_img/{{user.id}}.png" onerror="this.onerror=null;this.src='static/img/placeholder.png';" />
            </div>    

            <div class="details">
                <span>{{ user.firstname }} {{ user.lastname }}</span>
            </div>
        </a>
    </article>
    {% endfor %}
    
</section>
{% endblock %}