<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stuks/static/style.css">
    <title>Stuks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <div class="header-content">
            <img src="/stuks/static/img/tuks_logo.png">
            {% block navigation %}{% endblock %}
        </div>
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

</body>
</html>