{% extends "stuks_bp/layout.html" %}

{% block navigation %}

<input name="search-self" type="text" placeholder="Search name" autofocus="autofocus">
<script>
    let searchSelfInput = document.querySelector("input[name=search-self]");

    searchSelfInput.addEventListener("input", e => {
        let terms = searchSelfInput.value.toLowerCase().split(" ");
        let userArray = document.getElementsByClassName("container");

        for (user of userArray) {
            let text = user.getElementsByTagName('span')[0].innerText.toLowerCase();
            let parts = text.split(' ');

            let hide = false;
            
            for ( term of terms ) {
                let termInName = false;
                for ( part of parts ) {
                    if (part.startsWith(term)) {
                        termInName = true;
                    }
                }
                if (! termInName) {
                    hide = true;
                    break;
                }
            }
            
            if (hide) {
                user.classList.add("hide");
            } else {
                user.classList.remove("hide");
            }
        }
    });

    searchSelfInput.addEventListener("keyup", e => {
        if ( searchSelfInput.value == "" ) {
            return;
        }

        if (e.key == "Enter") {
            let userArray = document.getElementsByClassName("container");
            for (user of userArray) {
                if (! user.classList.contains("hide")) {
                    user.lastElementChild.click();
                    return;
                }
            }
        }
    })
</script>

{% endblock %}

{% block main %}

<section class="card-template">
    {% for user in users %}
    <article class="card container">
        <a href="{{ url_for('stuks_bp.login_user', user_id = user.id) }}">
            <div class="picture">
                <img class="rounded" src="static/img/user_img/{{user.id}}.png" onerror="this.onerror=null;this.src='static/img/placeholder.png';" />
            </div>    

            <div class="details">
                <span>{{ user.firstname }} {{ user.lastname }}</span>
            </div>
        </a>
    </article>
    {% endfor %}
    
</section>

<section class="sidebar container">
    <h2>Last 5 purchases</h2>

    <div class="slider">
        {% for purchase in purchases %}
        <div class="purchased">
            <div class="picture">
                <img class="rounded" src="static/img/user_img/{{purchase.id}}.png" onerror="this.onerror=null;this.src='static/img/placeholder.png';" />
            </div> 
            <p class="userdetail">{{ purchase.firstname }} {{ purchase.lastname }}</p>
            <p class="productdetail">{{ purchase.name }}</p>
        </div>
        {% endfor %}
    </div>
</section>


<script>
    let purchaseIndex = 0;
    showPurchases();
    
    function showPurchases() {
        let i;
        let purchases = document.getElementsByClassName("purchased");
        for (i = 0; i < purchases.length; i++) {
        purchases[i].style.display = "none";  
        }

      purchaseIndex++;

    if (purchaseIndex > purchases.length) {
        purchaseIndex = 1
    }    

    purchases[purchaseIndex-1].style.display = "block";  
    setTimeout(showPurchases, 1300);
    }
</script>

{% endblock %}