{% extends "stuks_bp/layout.html" %}


<audio id="coinAudio">
    <source src="/stuks/static/purchase.mp3" type="audio/mpeg">
</audio>


{% block navigation %}
<nav>
    <ul>
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'drinks') }}">Drinks</a>
        </li>
    
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'snacks') }}">Snacks</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.user', id = user.id) }}">Purchases</a>
        </li>
    
        <!-- <a href="/stuks/balance_low">Balance</a> -->
    
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="card-template">
    
    {% for product in products %}
    <article class="card container">
        {% if user.is_admin %}
        <div class="admin_options">
            <a href="{{ url_for('stuks_bp.edit_product', product_id = product.id) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path d="M880 836H144c-17.7 0-32 14.3-32 32v36c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-36c0-17.7-14.3-32-32-32zm-622.3-84c2 0 4-.2 6-.5L431.9 722c2-.4 3.9-1.3 5.3-2.8l423.9-423.9a9.96 9.96 0 0 0 0-14.1L694.9 114.9c-1.9-1.9-4.4-2.9-7.1-2.9s-5.2 1-7.1 2.9L256.8 538.8c-1.5 1.5-2.4 3.3-2.8 5.3l-29.5 168.2a33.5 33.5 0 0 0 9.4 29.8c6.6 6.4 14.9 9.9 23.8 9.9z" fill="#e2a900"/></svg></a>
            <a href="{{ url_for('stuks_bp.hide_product', product_id = product.id) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M17 22H7a2 2 0 0 1-2-2V7H3V5h4V4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1h4v2h-2v13a2 2 0 0 1-2 2zM7 7v13h10V7H7zm2-3v1h6V4H9zm6 14h-2V9h2v9zm-4 0H9V9h2v9z" fill="#e2a900"/></g></svg></a>
        </div>      
        {% endif %}
        
        <a href="{{ url_for('stuks_bp.buy', product_id = product.id) }}">
            <div class="picture">
                <img src="/stuks/static/img/product_img/{{product.id}}.png" alt="{{product.name}}">
            </div>

            <div class="details">
                <span>{{ product.name }}</span>
                <span class="price">{{ "€ %.2f"|format(product.price / 100) }}</span>
            </div>
        </a>
    </article>
    {% endfor %}

</section>

<section class="sidebar container">
    <h2>Welcome {{ user.firstname }}</h2>
    
    <p>Your balance: <span class="bold">{{ "€ %.2f"|format(user.balance / 100) }}</span></p>

    <!-- Create a dictionary to put the total price in, and update -->
    {% set extra_info = {'total_price': 0, 'index': 0} %}
    
    <h2>Shopping cart</h2>
        <div class="buy-list">
            {% if buy_list|length > 0 %}
            {% for product in buy_list %}
            <div class="product underline">
                <p>{{ product.name }}</p>
                
                <div class="product-actions">
                    <span class="bold">{{ "€ %.2f"|format(product.price / 100) }}</span>
                    <a href="{{ url_for('stuks_bp.trash', index = extra_info.index) }}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><g fill="none"><path d="M17 22H7a2 2 0 0 1-2-2V7H3V5h4V4a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v1h4v2h-2v13a2 2 0 0 1-2 2zM7 7v13h10V7H7zm2-3v1h6V4H9zm6 14h-2V9h2v9zm-4 0H9V9h2v9z" fill="#e2a900"/></g></svg></a>
                </div>
                
                <!-- Update the total price -->
                {% if extra_info.update({"total_price": product.price + extra_info.total_price }) %} {% endif %}
                {% if extra_info.update({"index": extra_info.index + 1 }) %} {% endif %}
            </div>
            {% endfor %}

            {% else %}
            <p>Your cart is still empty!</p>
            {% endif %}
        </div>
        
    <form action="{{ url_for('stuks_bp.buyout') }}">
        <h3>Total: {{ "€ %.2f"|format(extra_info.total_price / 100) }}</h3>
        <input type="submit" value="Buy">
    </form> 
</section>
{% endblock %}
