{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="card-template">

    {% for product in products %}
    <article class="card container">
        <a href="{{ url_for('stuks_bp.restore_product_by_id', product_id = product.id) }}">
            <div class="picture">
                <img src="/stuks/static/img/product_img/{{product.id}}.png" alt="{{product.name}}">
            </div>
            <div class="details">
                <span>RESTORE: {{ product.name }}</span>
                <span class="price">{{ "€ %.2f"|format(product.price / 100) }}</span>
            </div>
        </a>
    </article>
    {% endfor %}

</section>    
{% endblock %}