{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="container stock-categories">
    <h2>Categories</h2>
    <a class="underline" href="{{ url_for('stuks_bp.edit_stock', category = 'drinks') }}">Drinks</a>
    <a href="{{ url_for('stuks_bp.edit_stock', category = 'snacks') }}">Snacks</a>
</section>  
{% endblock %}
