{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.admin') }}">Admin</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}

        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="container">
    <form class="admin-form" action="" method="POST">
        <h2>Stock</h2>

        {% for product in products %}
        <div class="value-edits underline">
            <span class="info bold">{{ product.name }}</span>

            <div class="values">
                <span>Current stock: {{ product.stock }}</span>
                <input type="number" id="{{product.id}}" name="{{product.id}}" value="0">
            </div>  
        </div>
        {% endfor %}

        <input type="submit" value="Submit">
    </form>
</section>
{% endblock %}