{% extends "stuks_bp/layout.html" %}

{% block main %}
<section class="container">
    <form class="admin-form" action="" method="POST">
        {% if admin_login %}
        <h2 class="underline">ADMIN LOGIN</h2>

        {% else %}
        <h2 class="underline">STUKS</h2>
        {% endif %}

        {{ form.password }}
        {{ form.submit }}
    </form>

    {% if admin_login %}
    <form class="admin-form" action="{{ url_for('stuks_bp.login')}}">
        <input type="submit" value="Back">
    </form>
    {% endif %}
</section>
{% endblock %}