{% extends "stuks_bp/layout.html" %}

{% block navigation %}
<nav>
    <ul>
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'drinks') }}">Drinks</a>
        </li>
    
        <li>
            <a href="{{ url_for('stuks_bp.products', category = 'snacks') }}">Snacks</a>
        </li>

        <li>
            <a href="{{ url_for('stuks_bp.user', id = user.id) }}">Purchases</a>
        </li>
    
        {% if user.is_admin %}
        <li>
            <a href="{{ url_for('stuks_bp.lock') }}">Lock</a>
        </li>
        {% endif %}
        
        <li>
            <a href="{{ url_for('stuks_bp.logout') }}">Log out</a>
        </li>
    </ul>
</nav>
{% endblock %}

{% block main %}
<section class="container">
    <div class="purchases">
        <h2><span class="italic">{{ user.firstname }}</span>, your last 20 purchases</h2>
        <table>
            <tr>
                <th class="bold italic">Timestamp</th>
                <th class="bold italic">Product</th>
                <th class="bold italic">Price</th>
              </tr>
            {% for purchase in purchases %}
                <tr>
                    <td class="bold">{{ purchase[0] }}</td>
                    <td>{{ purchase[1].name }}</td>
                    <td class="bold">{{ "€ %.2f"|format(purchase[1].price / 100) }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</section>
{% endblock %}